asgiref
billiard
boto3
certifi
chardet
click
click-didyoumean
click-plugins
click-repl
coverage
Django
django-crispy-forms
django-timezone-field
django-vote
django-storages[google]
django-mathfilters
djangorestframework
greencache
htmq
idna
kombu
prompt-toolkit
pycryptodome
PyMySQL
python-dateutil
psycopg2-binary
pytz
redcmd
redlib
requests
six
sqlparse
urllib3
vote
vine
wcwidth
zope.interface
pytest
whitenoise
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability